#game-canvas {
	position: relative;
	width: 100%;
	height: 100%;
}

#menu {
	height: 250px;
	width: 200px;
	top: 20px;
	left: 20px;
	border-radius: 25px;
	background-color: #FEF9E7;
	z-index: -1;
	position: absolute;
}


h1 {

}

p {
	
}